p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    text-align: left;
    color: white;
  }
  img {
    width: 500px;
  }
  div {
    text-align: center;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  