p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    color: rgb(251, 251, 253);
  }
  img {
    width: 500px;
  }
  div {
    text-align: center;
  }
  p {
    text-align: center;
  }
  audio {
    text-align: center;
  }
  